USE [master]
GO
/****** Object:  Database [DataMTTQ]    Script Date: 8/26/2026 10:59:35 ******/
CREATE DATABASE [DataMTTQ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataMTTQ', FILENAME = N'D:\IT\SQL Install\MSSQL17.MSSQLSERVER\MSSQL\DATA\DataMTTQ.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataMTTQ_log', FILENAME = N'D:\IT\SQL Install\MSSQL17.MSSQLSERVER\MSSQL\DATA\DataMTTQ_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataMTTQ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataMTTQ]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[IDBaiViet] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](500) NOT NULL,
	[DuongDan] [varchar](500) NOT NULL,
	[TomTat] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[AnhDaiDien] [varbinary](max) NULL,
	[IDChuyenMuc] [int] NULL,
	[IDNguoiDung] [int] NULL,
	[LuotXem] [int] NULL,
	[LaTinNoiBat] [bit] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayXuatBan] [datetime] NULL,
	[HinhAnh] [nvarchar](1000) NULL,
	[VideoUrl] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[IdBanner] [int] IDENTITY(1,1) NOT NULL,
	[HinhAnh] [nvarchar](1000) NULL,
	[LienKet] [nvarchar](1000) NULL,
	[ThuTu] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[HieuUng] [nvarchar](50) NULL,
	[TocDo] [int] NOT NULL,
	[ThoiGianDung] [int] NOT NULL,
	[MauNen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBanner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhHeThong]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhHeThong](
	[IDCauHinh] [int] IDENTITY(1,1) NOT NULL,
	[MaCauHinh] [varchar](50) NOT NULL,
	[GiaTriCauHinh] [nvarchar](max) NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_CauHinhHeThong] PRIMARY KEY CLUSTERED 
(
	[IDCauHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__CauHinhH__F0685B7C0CDBF0F8] UNIQUE NONCLUSTERED 
(
	[MaCauHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuongTrinhHoTro]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhHoTro](
	[IDChuongTrinh] [int] IDENTITY(1,1) NOT NULL,
	[TenChuongTrinh] [nvarchar](500) NOT NULL,
	[LoaiHinh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDChuongTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenMuc]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenMuc](
	[IDChuyenMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenChuyenMuc] [nvarchar](255) NOT NULL,
	[DuongDan] [varchar](255) NOT NULL,
	[IDChuyenMucCha] [int] NULL,
	[LoaiChuyenMuc] [nvarchar](50) NULL,
	[ThuTu] [int] NULL,
	[HienThi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDChuyenMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucQuy]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucQuy](
	[IDQuy] [int] IDENTITY(1,1) NOT NULL,
	[TenQuy] [nvarchar](255) NOT NULL,
	[TongThu] [decimal](18, 0) NULL,
	[TongChi] [decimal](18, 0) NULL,
	[TonQuy] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDQuy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachUngHo]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachUngHo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiUngHo] [nvarchar](255) NOT NULL,
	[NgayUngHo] [datetime2](7) NOT NULL,
	[SoTien] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DanhSachUngHo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachUngHoBienDao]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachUngHoBienDao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiUngHo] [nvarchar](255) NULL,
	[NgayUngHo] [datetime] NULL,
	[SoTien] [decimal](18, 2) NULL,
	[HienThi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachUngHoCuuTro]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachUngHoCuuTro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiUngHo] [nvarchar](255) NULL,
	[NgayUngHo] [datetime] NULL,
	[SoTien] [decimal](18, 2) NULL,
	[HienThi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanTheToChuc]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanTheToChuc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[ChucVu] [nvarchar](255) NULL,
	[CoQuan] [nvarchar](255) NULL,
	[VaiTroBoSung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[MauSac] [nvarchar](50) NULL,
	[CapDo] [int] NULL,
	[ThuTu] [int] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonXinHoTro]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonXinHoTro](
	[IDDon] [int] IDENTITY(1,1) NOT NULL,
	[HoTenNguoiGui] [nvarchar](255) NOT NULL,
	[SoDienThoai] [varchar](20) NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[MucDoUuTien] [nvarchar](50) NULL,
	[IDNguoiCanGiup] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[IDNguoiXuLy] [int] NULL,
	[NgayGui] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioiThieuChung]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiThieuChung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TieuDeChinh] [nvarchar](500) NULL,
	[ChuNghieng] [nvarchar](200) NULL,
	[TieuDePhu] [nvarchar](500) NULL,
	[Slogan] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioiThieuSection]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiThieuSection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](300) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](1000) NULL,
	[AltText] [nvarchar](500) NULL,
	[LoaiSection] [nvarchar](50) NULL,
	[ThuTu] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_GioiThieuSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopThuGopY]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopThuGopY](
	[IDGopY] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](500) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[TepMinhChung] [varbinary](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NoiDungPhanHoi] [nvarchar](max) NULL,
	[IDNguoiXuLy] [int] NULL,
	[NgayGui] [datetime] NULL,
	[LinhVuc] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGopY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaChamLo]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaChamLo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[DonViUngHo] [nvarchar](255) NOT NULL,
	[PhanLoaiDonVi] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](500) NOT NULL,
	[SoLuongHo] [int] NOT NULL,
	[KinhPhi] [decimal](18, 2) NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaHoatDong]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaHoatDong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoaiHoatDong] [nvarchar](50) NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[DonViUngHo] [nvarchar](max) NULL,
	[PhanLoaiDonVi] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[SoLuongHo] [int] NULL,
	[KinhPhi] [decimal](18, 2) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_KetQuaHoatDong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoanDongGop]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoanDongGop](
	[IDGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[IDNhaHaoTam] [int] NOT NULL,
	[IDQuy] [int] NULL,
	[IDNguoiTiepNhan] [int] NOT NULL,
	[LoaiUngHo] [nvarchar](50) NOT NULL,
	[SoTien] [decimal](18, 0) NULL,
	[TenHienVat] [nvarchar](255) NULL,
	[QuyCach] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayUngHo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuotTraoTang]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotTraoTang](
	[IDTraoTang] [int] IDENTITY(1,1) NOT NULL,
	[IDChuongTrinh] [int] NOT NULL,
	[IDNguoiCanGiup] [int] NOT NULL,
	[IDQuy] [int] NULL,
	[LoaiHoTro] [nvarchar](50) NOT NULL,
	[SoTienHoTro] [decimal](18, 0) NULL,
	[TenHienVat] [nvarchar](255) NULL,
	[QuyCach] [nvarchar](255) NULL,
	[IDNguoiCap] [int] NOT NULL,
	[NgayPhanBo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTraoTang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuotTruyCap]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotTruyCap](
	[IDLuotTruyCap] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [varchar](100) NULL,
	[DuongDan] [nvarchar](500) NULL,
	[ThoiGianTruyCap] [datetime] NOT NULL,
	[LanTruyCapCuoi] [datetime] NOT NULL,
 CONSTRAINT [PK__LuotTruyCap] PRIMARY KEY CLUSTERED 
(
	[IDLuotTruyCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaXacThuc]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaXacThuc](
	[IDMaXacThuc] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MaOtp] [varchar](10) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[HanHet] [datetime] NOT NULL,
	[DaSuDung] [bit] NOT NULL,
	[DiaChiIp] [varchar](50) NULL,
 CONSTRAINT [PK__MaXacThuc] PRIMARY KEY CLUSTERED 
(
	[IDMaXacThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiCanGiupDo]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiCanGiupDo](
	[IDNguoiCanGiup] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[NgaySinh] [date] NULL,
	[CCCD] [varchar](20) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[HoanCanh] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNguoiCanGiup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDanCanTroGiup]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDanCanTroGiup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](20) NOT NULL,
	[MucDoUuTien] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayGui] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[IDNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[AnhDaiDien] [varbinary](max) NULL,
	[Email] [varchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[IDVaiTro] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaHaoTam]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaHaoTam](
	[IDNhaHaoTam] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiUngHo] [nvarchar](255) NOT NULL,
	[LoaiHinh] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNhaHaoTam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHeThong]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHeThong](
	[IDNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[IDNguoiDung] [int] NULL,
	[HanhDong] [nvarchar](50) NOT NULL,
	[TenBang] [nvarchar](50) NOT NULL,
	[IDBanGhi] [int] NULL,
	[DuLieuCu] [nvarchar](max) NULL,
	[DuLieuMoi] [nvarchar](max) NULL,
	[DiaChiIP] [varchar](50) NULL,
	[ThoiGianTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoDuQuy]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoDuQuy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoaiQuy] [nvarchar](50) NULL,
	[TienMat] [decimal](18, 2) NULL,
	[TienGuiNganHang] [decimal](18, 2) NULL,
	[TongTonQuy] [decimal](18, 2) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
 CONSTRAINT [PK_SoDuQuy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhPhanGiaoDien]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPhanGiaoDien](
	[IDThanhPhan] [int] IDENTITY(1,1) NOT NULL,
	[TenHienThi] [nvarchar](255) NOT NULL,
	[HinhAnh] [varbinary](max) NULL,
	[DuongDanLienKet] [varchar](500) NULL,
	[Loai] [nvarchar](50) NULL,
	[ViTri] [nvarchar](50) NULL,
	[ThuTu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDThanhPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinNhanUngHoBienDao]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNhanUngHoBienDao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNganHang] [nvarchar](255) NULL,
	[ChiNhanh] [nvarchar](255) NULL,
	[TenTaiKhoan] [nvarchar](255) NULL,
	[SoTaiKhoan] [varchar](50) NULL,
	[DonViThuHuong] [nvarchar](255) NULL,
	[NoiDungChuyenKhoan] [nvarchar](255) NULL,
	[QrCodeUrl] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinNhanUngHoCuuTro]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNhanUngHoCuuTro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNganHang] [nvarchar](255) NULL,
	[ChiNhanh] [nvarchar](255) NULL,
	[TenTaiKhoan] [nvarchar](255) NULL,
	[SoTaiKhoan] [varchar](50) NULL,
	[DonViThuHuong] [nvarchar](255) NULL,
	[NoiDungChuyenKhoan] [nvarchar](255) NULL,
	[QrCodeUrl] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinNhanUngHos]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNhanUngHos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNgânHang] [nvarchar](max) NOT NULL,
	[ChiNhanh] [nvarchar](max) NULL,
	[QrCodeUrl] [nvarchar](max) NULL,
	[TenTaiKhoan] [nvarchar](max) NOT NULL,
	[SoTaiKhoan] [nvarchar](max) NOT NULL,
	[DonViThuHuong] [nvarchar](max) NULL,
	[NoiDungChuyenKhoan] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_ThongTinNhanUngHos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimelineItem]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimelineItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTimelineSection] [int] NOT NULL,
	[TimeLabel] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsEnabled] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_TimelineItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimelineSection]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimelineSection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[Eyebrow] [nvarchar](100) NULL,
	[Title] [nvarchar](300) NULL,
 CONSTRAINT [PK_TimelineSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangChuMuc]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangChuMuc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](500) NOT NULL,
	[Loai] [nvarchar](100) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL,
	[ThuTu] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangChuTinTuc]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangChuTinTuc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTrangChuMuc] [int] NOT NULL,
	[TieuDe] [nvarchar](500) NOT NULL,
	[TomTat] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](1000) NULL,
	[LienKet] [nvarchar](1000) NULL,
	[ThuTu] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TrangChuTinTuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[IDVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](100) NOT NULL,
	[QuyenHan] [tinyint] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTroQuyen]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTroQuyen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IDVaiTro] [int] NOT NULL,
	[MaModule] [nvarchar](50) NOT NULL,
	[CoQuyenXem] [bit] NOT NULL,
	[CoQuyenThem] [bit] NOT NULL,
	[CoQuyenSua] [bit] NOT NULL,
	[CoQuyenXoa] [bit] NOT NULL,
 CONSTRAINT [PK__VaiTroQuyen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VanBanTaiLieu]    Script Date: 8/26/2026 10:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanBanTaiLieu](
	[IDVanBan] [int] IDENTITY(1,1) NOT NULL,
	[SoHieu] [nvarchar](100) NULL,
	[TenVanBan] [nvarchar](500) NOT NULL,
	[CoQuanBanHanh] [nvarchar](255) NULL,
	[TepDinhKem] [varbinary](max) NULL,
	[LoaiTep] [varchar](50) NULL,
	[DungLuong] [float] NULL,
	[IDChuyenMuc] [int] NULL,
	[NgayBanHanh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVanBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_BaiViet_DuongDan]    Script Date: 8/26/2026 10:59:35 ******/
CREATE NONCLUSTERED INDEX [IDX_BaiViet_DuongDan] ON [dbo].[BaiViet]
(
	[DuongDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ChuyenMuc_DuongDan]    Script Date: 8/26/2026 10:59:35 ******/
CREATE NONCLUSTERED INDEX [IDX_ChuyenMuc_DuongDan] ON [dbo].[ChuyenMuc]
(
	[DuongDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KetQuaChamLos_PhanLoaiDonVi]    Script Date: 8/26/2026 10:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_KetQuaChamLos_PhanLoaiDonVi] ON [dbo].[KetQuaChamLo]
(
	[PhanLoaiDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KetQuaChamLos_Thang]    Script Date: 8/26/2026 10:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_KetQuaChamLos_Thang] ON [dbo].[KetQuaChamLo]
(
	[Thang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LuotTruyCap_LanTruyCapCuoi]    Script Date: 8/26/2026 10:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_LuotTruyCap_LanTruyCapCuoi] ON [dbo].[LuotTruyCap]
(
	[LanTruyCapCuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LuotTruyCap_SessionId]    Script Date: 8/26/2026 10:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_LuotTruyCap_SessionId] ON [dbo].[LuotTruyCap]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D105348E5266DA]    Script Date: 8/26/2026 10:59:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__NguoiDun__A9D105348E5266DA] ON [dbo].[NguoiDung]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimelineItem_IdTimelineSection]    Script Date: 8/26/2026 10:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_TimelineItem_IdTimelineSection] ON [dbo].[TimelineItem]
(
	[IdTimelineSection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimelineItem_SortOrder]    Script Date: 8/26/2026 10:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_TimelineItem_SortOrder] ON [dbo].[TimelineItem]
(
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TrangChuTinTuc_IdTrangChuMuc]    Script Date: 8/26/2026 10:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_TrangChuTinTuc_IdTrangChuMuc] ON [dbo].[TrangChuTinTuc]
(
	[IdTrangChuMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_VaiTroQuyen_VaiTro_Module]    Script Date: 8/26/2026 10:59:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_VaiTroQuyen_VaiTro_Module] ON [dbo].[VaiTroQuyen]
(
	[IDVaiTro] ASC,
	[MaModule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT ((0)) FOR [LaTinNoiBat]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT (N'BanNhap') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ('slide') FOR [HieuUng]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((600)) FOR [TocDo]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((5000)) FOR [ThoiGianDung]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ('#1a1a2e') FOR [MauNen]
GO
ALTER TABLE [dbo].[ChuongTrinhHoTro] ADD  DEFAULT (N'DangTrienKhai') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChuyenMuc] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[ChuyenMuc] ADD  DEFAULT (CONVERT([bit],(1))) FOR [HienThi]
GO
ALTER TABLE [dbo].[DanhMucQuy] ADD  DEFAULT ((0)) FOR [TongThu]
GO
ALTER TABLE [dbo].[DanhMucQuy] ADD  DEFAULT ((0)) FOR [TongChi]
GO
ALTER TABLE [dbo].[DanhMucQuy] ADD  DEFAULT ((0)) FOR [TonQuy]
GO
ALTER TABLE [dbo].[DanhMucQuy] ADD  DEFAULT (N'HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DoanTheToChuc] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[DonXinHoTro] ADD  DEFAULT (N'BinhThuong') FOR [MucDoUuTien]
GO
ALTER TABLE [dbo].[DonXinHoTro] ADD  DEFAULT (N'ChoXuLy') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonXinHoTro] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[GioiThieuChung] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HopThuGopY] ADD  DEFAULT (N'ChoXuLy') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HopThuGopY] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[KetQuaChamLo] ADD  DEFAULT ((2026)) FOR [Nam]
GO
ALTER TABLE [dbo].[KetQuaChamLo] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[KhoanDongGop] ADD  DEFAULT ((0)) FOR [SoTien]
GO
ALTER TABLE [dbo].[KhoanDongGop] ADD  DEFAULT (N'ThanhCong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhoanDongGop] ADD  DEFAULT (getdate()) FOR [NgayUngHo]
GO
ALTER TABLE [dbo].[LuotTraoTang] ADD  DEFAULT ((0)) FOR [SoTienHoTro]
GO
ALTER TABLE [dbo].[LuotTraoTang] ADD  DEFAULT (getdate()) FOR [NgayPhanBo]
GO
ALTER TABLE [dbo].[LuotTruyCap] ADD  DEFAULT (getdate()) FOR [ThoiGianTruyCap]
GO
ALTER TABLE [dbo].[LuotTruyCap] ADD  DEFAULT (getdate()) FOR [LanTruyCapCuoi]
GO
ALTER TABLE [dbo].[MaXacThuc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[MaXacThuc] ADD  DEFAULT (CONVERT([bit],(0))) FOR [DaSuDung]
GO
ALTER TABLE [dbo].[NguoiDanCanTroGiup] ADD  DEFAULT (N'Bình thường') FOR [MucDoUuTien]
GO
ALTER TABLE [dbo].[NguoiDanCanTroGiup] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[NguoiDanCanTroGiup] ADD  DEFAULT (N'Chưa xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (N'HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NhatKyHeThong] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[ThanhPhanGiaoDien] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[TimelineItem] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[TimelineItem] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TimelineSection] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[TrangChuMuc] ADD  DEFAULT ('') FOR [TieuDe]
GO
ALTER TABLE [dbo].[TrangChuMuc] ADD  DEFAULT ('tin-tuc') FOR [Loai]
GO
ALTER TABLE [dbo].[TrangChuMuc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TrangChuMuc] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[TrangChuMuc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[VaiTro] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[VaiTro] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BaiViet_ChuyenMuc] FOREIGN KEY([IDChuyenMuc])
REFERENCES [dbo].[ChuyenMuc] ([IDChuyenMuc])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [FK_BaiViet_ChuyenMuc]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BaiViet_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [FK_BaiViet_NguoiDung]
GO
ALTER TABLE [dbo].[ChuyenMuc]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenMuc_ChuyenMucCha] FOREIGN KEY([IDChuyenMucCha])
REFERENCES [dbo].[ChuyenMuc] ([IDChuyenMuc])
GO
ALTER TABLE [dbo].[ChuyenMuc] CHECK CONSTRAINT [FK_ChuyenMuc_ChuyenMucCha]
GO
ALTER TABLE [dbo].[DonXinHoTro]  WITH CHECK ADD  CONSTRAINT [FK_DonXin_NguoiCanGiup] FOREIGN KEY([IDNguoiCanGiup])
REFERENCES [dbo].[NguoiCanGiupDo] ([IDNguoiCanGiup])
GO
ALTER TABLE [dbo].[DonXinHoTro] CHECK CONSTRAINT [FK_DonXin_NguoiCanGiup]
GO
ALTER TABLE [dbo].[DonXinHoTro]  WITH CHECK ADD  CONSTRAINT [FK_DonXin_NguoiDung] FOREIGN KEY([IDNguoiXuLy])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[DonXinHoTro] CHECK CONSTRAINT [FK_DonXin_NguoiDung]
GO
ALTER TABLE [dbo].[HopThuGopY]  WITH CHECK ADD  CONSTRAINT [FK_GopY_NguoiDung] FOREIGN KEY([IDNguoiXuLy])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[HopThuGopY] CHECK CONSTRAINT [FK_GopY_NguoiDung]
GO
ALTER TABLE [dbo].[KhoanDongGop]  WITH CHECK ADD  CONSTRAINT [FK_DongGop_NguoiDung] FOREIGN KEY([IDNguoiTiepNhan])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[KhoanDongGop] CHECK CONSTRAINT [FK_DongGop_NguoiDung]
GO
ALTER TABLE [dbo].[KhoanDongGop]  WITH CHECK ADD  CONSTRAINT [FK_DongGop_NhaHaoTam] FOREIGN KEY([IDNhaHaoTam])
REFERENCES [dbo].[NhaHaoTam] ([IDNhaHaoTam])
GO
ALTER TABLE [dbo].[KhoanDongGop] CHECK CONSTRAINT [FK_DongGop_NhaHaoTam]
GO
ALTER TABLE [dbo].[KhoanDongGop]  WITH CHECK ADD  CONSTRAINT [FK_DongGop_Quy] FOREIGN KEY([IDQuy])
REFERENCES [dbo].[DanhMucQuy] ([IDQuy])
GO
ALTER TABLE [dbo].[KhoanDongGop] CHECK CONSTRAINT [FK_DongGop_Quy]
GO
ALTER TABLE [dbo].[LuotTraoTang]  WITH CHECK ADD  CONSTRAINT [FK_TraoTang_ChuongTrinh] FOREIGN KEY([IDChuongTrinh])
REFERENCES [dbo].[ChuongTrinhHoTro] ([IDChuongTrinh])
GO
ALTER TABLE [dbo].[LuotTraoTang] CHECK CONSTRAINT [FK_TraoTang_ChuongTrinh]
GO
ALTER TABLE [dbo].[LuotTraoTang]  WITH CHECK ADD  CONSTRAINT [FK_TraoTang_NguoiCanGiup] FOREIGN KEY([IDNguoiCanGiup])
REFERENCES [dbo].[NguoiCanGiupDo] ([IDNguoiCanGiup])
GO
ALTER TABLE [dbo].[LuotTraoTang] CHECK CONSTRAINT [FK_TraoTang_NguoiCanGiup]
GO
ALTER TABLE [dbo].[LuotTraoTang]  WITH CHECK ADD  CONSTRAINT [FK_TraoTang_NguoiDung] FOREIGN KEY([IDNguoiCap])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[LuotTraoTang] CHECK CONSTRAINT [FK_TraoTang_NguoiDung]
GO
ALTER TABLE [dbo].[LuotTraoTang]  WITH CHECK ADD  CONSTRAINT [FK_TraoTang_Quy] FOREIGN KEY([IDQuy])
REFERENCES [dbo].[DanhMucQuy] ([IDQuy])
GO
ALTER TABLE [dbo].[LuotTraoTang] CHECK CONSTRAINT [FK_TraoTang_Quy]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_VaiTro] FOREIGN KEY([IDVaiTro])
REFERENCES [dbo].[VaiTro] ([IDVaiTro])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_VaiTro]
GO
ALTER TABLE [dbo].[NhatKyHeThong]  WITH CHECK ADD  CONSTRAINT [FK_NhatKy_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[NhatKyHeThong] CHECK CONSTRAINT [FK_NhatKy_NguoiDung]
GO
ALTER TABLE [dbo].[TimelineItem]  WITH CHECK ADD  CONSTRAINT [FK_TimelineItem_TimelineSection] FOREIGN KEY([IdTimelineSection])
REFERENCES [dbo].[TimelineSection] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimelineItem] CHECK CONSTRAINT [FK_TimelineItem_TimelineSection]
GO
ALTER TABLE [dbo].[TrangChuTinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TrangChuTinTuc_TrangChuMuc_IdTrangChuMuc] FOREIGN KEY([IdTrangChuMuc])
REFERENCES [dbo].[TrangChuMuc] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrangChuTinTuc] CHECK CONSTRAINT [FK_TrangChuTinTuc_TrangChuMuc_IdTrangChuMuc]
GO
ALTER TABLE [dbo].[VaiTroQuyen]  WITH CHECK ADD  CONSTRAINT [FK_VaiTroQuyen_VaiTro] FOREIGN KEY([IDVaiTro])
REFERENCES [dbo].[VaiTro] ([IDVaiTro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VaiTroQuyen] CHECK CONSTRAINT [FK_VaiTroQuyen_VaiTro]
GO
ALTER TABLE [dbo].[VanBanTaiLieu]  WITH CHECK ADD  CONSTRAINT [FK_VanBan_ChuyenMuc] FOREIGN KEY([IDChuyenMuc])
REFERENCES [dbo].[ChuyenMuc] ([IDChuyenMuc])
GO
ALTER TABLE [dbo].[VanBanTaiLieu] CHECK CONSTRAINT [FK_VanBan_ChuyenMuc]
GO
ALTER TABLE [dbo].[DanhMucQuy]  WITH CHECK ADD  CONSTRAINT [CHK_TonQuy_KhongAm] CHECK  (([TonQuy]>=(0)))
GO
ALTER TABLE [dbo].[DanhMucQuy] CHECK CONSTRAINT [CHK_TonQuy_KhongAm]
GO
USE [master]
GO
